*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

body{
    background-color: #E8E8E8;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#l-header{
    width: 100%;
    max-width: 1920px;
    height: auto;
    padding: 30px 0px 15px 0px;
}

#logosec{
    width: 320px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

#conteudo{
    padding: 0rem !important;
}

.spanop{
    width: 100%;
    display: inline-block;
    padding: 7px;
    cursor: pointer;
}

.spanop a{
    color: #000000;
}

/*
.spanop a:hover{
    color: #ffffff;
}
*/

.spanop:hover{
    background-color: #9CB535;
}

.collapsible-header{
    background-color: #2D4F8F !important;
    color: #ffffff;
}

.collapsible-body{
    background-color: #ffffff !important;   
}

p{
    font-size: 14px;
}

#licencelink{
    font-size: 12px;
    color: rgba(0,0,0,0.87);
}

#btn-color{
    background-color: #2D4F8F;
    color: #ffffff;
}


#versao{
    font-size: 10px;
}


h2{
    font-size: 35px;
}

h3{
    font-size: 18px;
}

p{
    font-size: 12px;
}

a{
    font-size: 20px;
    color: #000000;
}

a:hover{
    color: #01579b;
}